.whole-page {
    background-color: rgb(26, 27, 31);
    color: ghostwhite; 
}

.header-bar {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(20, 20, 20);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: rgb(39, 39, 39);
}

.filler {
    width: 130px; 
}

.header-logo {
    margin: auto;
}

.header-bar .header-first {
    font-family: 'Pirata One', cursive;
    font-size: 35px;
    color: rgb(156, 2, 2); 
}

.header-bar .header-second {
    font-family: 'Pirata One', cursive;
    font-size: 35px;
    color: gray; 
}

.about-container {
    padding-right: 10px;
}

.about-links {
    font-size: 30px;
    color: gray; 
    padding: 5px; 
}

.directions  {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px; 
}

.directions h2 {
    display: flex;
    justify-content: center;
    font-size: 16px; 
    font-weight: lighter; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgray; 
}

.board-parent {
    display: flex; 
    justify-content: center;
    padding-bottom: 100%;

}

.board {
    display: flex; 
    flex-direction: row;
    background-color: rgb(39, 39, 39);
    width: 700px;
    height: 60px; 
    border: 1px solid rgb(36, 35, 35);
    background-color: rgb(39, 39, 39);
    box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
    border-radius: 8px;
    padding: 20px; 
}

.tile-list.dvorak {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 410px; 
    border: 1px solid rgb(36, 35, 35);
    background-color: rgb(39, 39, 39);
    box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
    border-radius: 8px;
    padding: 20px; 
}

.tile-list.proko {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 410px; 
    border: 1px solid rgb(36, 35, 35);
    background-color: rgb(39, 39, 39);
    box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
    border-radius: 8px;
    padding: 20px; 
}

.tile-outer {
    display: flex; 
    justify-content: center;
}

.tile img {
    width: 80px; 
    height: 60px; 
}
.tile-list.proko li {
    width: 80px; 
    height: 60px; 
    border: 1px solid white;
}

.tile {
    list-style-type: none;
    margin: 10px; 
}

.tile:hover {
    cursor: pointer;
}

.button-parent {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex; 
    justify-content: flex-start;
    width: 740px; 
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.volume-icon {
    padding-left: 10px; 
    font-size: 38px;
    display: flex;
    align-items: center;
}

input[type=range] {
  -webkit-appearance: none; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  cursor: pointer;

  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  margin-top: -3px; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
  background: rgb(26, 27, 31);
  border-radius: 1.3px;
  border: 1px solid rgb(59, 59, 59); 
  margin-top: 3px; 
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(26, 27, 31);
}

input[type=range]::-moz-range-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(26, 27, 31);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgb(26, 27, 31);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(26, 27, 31);
}
input[type=range]::-ms-fill-upper {
  background: rgb(26, 27, 31);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: rgb(26, 27, 31);
}

.volume {
    height: 69px; 
    width: 100px; 
    padding-left: 10px; 
    background: transparent;  
}

.buttons label {
    margin-left: 18%;
    padding-left: -15%;
    margin-top: 25px; 
    font-size: 15px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgray; 
}

.selector {
    position: relative; 
    display: flex; 
    justify-content: flex-end; 
}

select {
    margin-left: 8px; 
    margin-top: 10px;
    margin-bottom: 12px;
    border: none;
}

select:focus {
    outline: none;
}

.stop-button {
    padding: 10px; 
    font-size: 30px;
    box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
    margin-right: 5px;
}
.stop-button:hover {
    background-color: rgb(39, 39, 39);
}

.clear-button {
    padding: 10px; 
    font-size: 30px;
    box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
    margin-right: 5px;
}
.clear-button:hover {
    background-color: rgb(39, 39, 39);
}

.play {
    padding: 10px; 
    font-size: 30px;
    margin-left: 10px;
    box-shadow: rgb(83, 80, 80) 0px 1px 10px 0px;
    margin-right: 5px;
}
.play:hover {
    background-color: rgb(39, 39, 39);
}

button:hover {
    cursor: pointer;
}

.board > .tile {
    width: 80px; 
    height: 60px; 
    margin: 0px; 
}

.staff-starter img {
    width: 60px; 
    height: 60px; 
}
